@use '../../styles/variables.scss' as v;

/* Styles inchangés pour desktop */

.CreateEvent {
  margin: auto auto;
  margin-bottom: 3em;
  border-radius: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__tittle {
    text-align: center;
    padding: 1em;
    color: v.$color-primary;
  }
}

.box {
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 6em;
  margin: 5em 0 5em 0;
  border: 1px solid lightgray;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.3);
}

.containers {
  display: flex;
  flex-direction: row;
}

.definition {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 2em;

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // background-color: red;
    margin: 0;
  }

  li {
    display: flex;
    list-style-type: none;
    padding: 0;
    color: v.$color-primary;
    font-weight: bold;
  }
}

.divLi {
  width: 80%;
  // border-bottom: 1px dashed v.$color-primary;
  padding-bottom: 1em;
}

.fields {
  width: 70%;
  display: flex;
  flex-direction: column;
  // background-color: green;
  padding-left: 2em;
  gap: 2em;
  border-left: 1px solid lightgray;
  margin-right: 2em;
}

.t1 {
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 2em;
}

.selectSport {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  width: 100%;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 2em;
  padding-top: 0.3em;
}

.selectLevel {
  display: flex;
  flex-direction: column;
  margin-top: 1.6em;
  width: 100%;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 2em;
  padding-top: 0.3em;
}

.partMax {
  margin-top: 1.6em;
  margin-bottom: 1em;
  width: 30%;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 2em;
}

.sameFields {
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 2em;
}

.address {
  margin-top: 0.6em;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 2em;
}

.description {
  margin-top: 1.5em;
  width: 100%;
  height: 10em;
  resize: none;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.btn {
  margin-top: 3em;
}


.fieldForResponsive {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .box {
    width: 90%; /* Réduire la largeur de la boîte pour les mobiles */
    padding: 0 1em; /* Réduire les marges intérieures */
    border: none;
    box-shadow: none;
  }

  .definition {
    display: none;
  }

  .definition,
  .fields {
    align-items: flex-start; /* Aligner les éléments en haut */
  }

  .selectSport,
  .selectLevel,
  .partMax,
  .sameFields,
  .address,
  .description {
    margin-top: 0.5em; /* Réduire l'espacement en haut */
  }

  .fields {
    border-left: none;
  }

  .selectSport,
  .selectLevel {
    width: 100%;
  }

  .btn {
    margin-bottom: 0;
  }

  .fieldForResponsive {
    display: contents;
    text-align: center;
    color: v.$color-primary;
    font-weight: bold;
  }
}
